
/* h1{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    text-align: center;
} */

body{
    margin:0;
    padding: 0;
}

#container{
    height: 100vh;
    width:100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    height:80px;
    width:500px;
    border: 1px  rgb(76, 67, 67);
    box-shadow: 5px 5px 5px 2px #888888;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;

}

#base{
    height: 250px;
    width: 250px;
    border: 1px  rgb(76, 67, 67);
    box-shadow: 5px 5px 5px 2px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 50px;
    color: rgb(39, 142, 142);
    font-family: Arial, sans-serif;
}

.keyhebhai{
    color: rgb(33, 144, 144);
    margin-left: 10px;
}



